body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../images/bg-car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.quiz{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    // overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: rgba(204, 185, 185, 0.6);

    &__question{
        height: 60px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(88, 86, 92, .8);
        border-radius: 5px;
        margin-bottom: 35px;
    }

    &__options{
        width: 94%;
        min-height: 300px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        // overflow: scroll;
    }
}

